<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="text/html" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
        <title>Restaurant API</title>
</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href=".">Restaurant Web Application</a>
        </div>
      
        <div class="teste-container"></div>
        
    </div>
    <script src="{{ url_for('static', filename='scripts/restaurants.js') }}"></script>
</body>

</html>